.repair
	.container-fluid.text-center

		.repair__flow 
			p Сайт находится в разработке. Ему всего
			#countUp
			p Буду добавлять по новому проекту<br>в неделю

			.loading
				span.loading__item.loading__item--1
				span.loading__item.loading__item--2
				span.loading__item.loading__item--3

	.repair__after
		.container-fluid
			.repair__do-not-cross Do Not Cross


			


