.project {
	
	&__subtitle {
		font-size: @fz-21;
		font-weight: 300;
		margin: .67em 0 .5em;
	}

	&__flow {
		font-size: @fz-16;
		margin: 18px 0 30px;
	}

	&__madein {
		font-size: @fz-12;
		line-height: 1.5;
	}

	&__madein--logomotiv {
		position: relative;

		&:before {
			content: '';
			position: absolute;
			top: -20px;
			left: 0;
			width: 30px;
			height: 15px;
			background-image: url(../img/logomotiv__icon.png);
			background-size: cover;
			background-repeat: no-repeat;
		}
	}

}