mixin header(prev, next)
	header
		.supheader
			//- .container-fluid
			//- 	.row
			//- 		.col-xs-6.pull-right.text-right

			//- 			a.link.link--white.lang.active RU
			//- 			a.link.link--white.lang EN

		.header
			.container-fluid
				.row
					
					.col-xs-4
						a.header__btn.header__btn--prev(href=prev) Предыдущий

					.col-xs-4
						a.header__logo(href="#")
							img.logo.m0a.img-responsive(src="img/logo.svg",alt="Vadik Matveev")
					.col-xs-4
						a.header__btn.header__btn--next.pull-right(href=next) Следующий