<!DOCTYPE html>
html(lang="ru")
head
	
	title Чокупить? — Дизайн списка покупок для Android
	:verbatim
	include ./blocks/head.jade

body.dur-app
	
	:verbatim
	include ./mixins/header.jade

	+header('index.html','tmsr.html')

	section.dur-app__promo
		.container-fluid
			img.img-responsive(src="img/dur-app__promo.jpg", alt="")


	section.project
		.container-fluid
			.row
				.col-xs-4
					h2.project__title Дюрецепты
					h4.project__subtitle Дизайн приложения для&nbsp;Android

					p.project__year 2014
				.col-xs-6
					p.project__flow Задача стояла в адаптировании дизайна iOS приложения Дюрецепты для Android. При проектировании интерфейса рукодствовался принципами Google Material Design. Нарисовал две версии, для смартфонов и планшетов.<br><br>	Представленная версия является концептом и до конца еще не реализована. Выпущенная версия обладает меньшим функционалом.<br><br>
						a.link(href="#") Скачать из Google Play
				.col-xs-2
					.project__madein.project__madein--logomotiv
						p Проект выполнен в<br>
							a.link(href="http://logomotivapp.ru/") Дизайн-&nbsp;студии Logomotiv
						p Арт-директор: <br>Иван Большов		
						p Менеджер: <br>Анна Шелковникова

	section.dur-app__video
		.container-fluid
			.row
				.col-xs-4
					video.dur_recipe(autoplay="" loop="" muted="" preload="none")
						source(src="video/dur_recipe.webm" type="video/webm")
						source(src="video/dur_recipe.mp4" type="video/mp4")

				.col-xs-4
					video.dur_menu(autoplay="" loop="" muted="" preload="none")
						source(src="video/dur_menu.webm" type="video/webm")
						source(src="video/dur_menu.mp4" type="video/mp4")

				.col-xs-4
					video.dur_add-recipe(autoplay="" loop="" muted="" preload="none")
						source(src="video/dur_add-recipe.webm" type="video/webm")
						source(src="video/dur_add-recipe.mp4" type="video/mp4")


	.dur-app__floataction
		.container-fluid
			.row
				.col-xs-4.col-xs-offset-1
					video(autoplay="" loop="" muted="" preload="none")
						source(src="video/dur_button.webm" type="video/webm")
						source(src="video/dur_button.mp4" type="video/mp4")


				.col-xs-5.col-xs-offset-1.white
					h3.project__h3 Дело случая
					p.project__flow На белково-овощной диете важно жестко следовать этапам. Рецептов много, но время читать и выбирать среди них бывает некогда. Кнопка «Случайный рецепт» помогает в таких случаях. Укажите этап диеты и приложение подкинет вам идею для обеда. 



	.dur-app__pads

		p.dur-app__pads-flow Адаптировано под&nbsp;планшеты







	:verbatim
	include ./blocks/footer.jade