<!DOCTYPE html>
html(lang="ru")
head
	
	title Матвеев Вадим
	:verbatim
	include ./blocks/head.jade

body.about

	header
		.supheader

		.header
			.container-fluid
				.row
					
					.col-xs-4

					.col-xs-4
						a.header__logo(href="#")
							img.logo.m0a.img-responsive(src="img/logo.svg",alt="Vadik Matveev")

	.container-fluid
		.row
			.col-xs-4.col-xs-offset-1

				img.about__photo.img-responsive(src="img/my-face.jpg",alt="Vadik Matveev")

			.col-xs-6

				h3.project__h3 О себе

				p.about__flow Дизайнер. Проектирую сайты, мобильные приложения, логотипы и фирменные стили. Сам верстаю разработанные веб-проекты. Использую Jade, Less и Gulp. Помимо этих навыков также занимался трехмеркой и анимацией в разное время.

				h3.project__h3 Образование

				p.about__flow Окончил СПБГУ по специальности графический дизайнер. Также окончил курсы в московской школе Real Time School по основам Adobe After Effects. В прошлом году прошел два курса по базовой и ПРО верстке в школе интернет-технологий Epic Skills. 2016 год начал с того, что прошел там же курсы по основам js. Помимо этого помогаю преподавателям школы в качестве тьютора. 

				h3.project__h3 В свободное время

				p.about__flow Люблю порисовать буквы, сходить на концерт, поиграть в настольные игры или прогуляться по Санкт-Петербургу. Пью кофе, пиво и вино. Не курю. 



	.container-fluid
		.row
			a.btn(href="whatobuy.html") Посмотреть портфолио


	:verbatim
	include ./blocks/footer.jade
