<!DOCTYPE html>
html(lang="ru")
head
	
	title Чокупить? — Дизайн списка покупок для Android
	:verbatim
	include ./blocks/head.jade

body.tmsr
	
	:verbatim
	include ./mixins/header.jade

	+header('durecipes_app.html','#')

	link(href="http://fonts.googleapis.com/css?family=Noto+Serif:400italic&amp;subset=latin,cyrillic",rel="stylesheet",type="text/css")

	link(rel="stylesheet", href="css/style--tmsr.css")




	.tmsr__promo

	section.project
		.container-fluid
			.row
				.col-xs-4
					h2.project__title TMSR
					h4.project__subtitle Фирменный стиль и сайт

					p.project__year Июль 2015
				.col-xs-6
					p.project__flow Компания TMSR занимается стивидоными услугами в Санкт-Петербурге. Встречает и разгружает суда приходящие в город, а также предоставляет место для хранения привезенного груза. Для выхода компании на следущий уровень и привлечения новых клиентов из ближнего зарубежья компании потребовался уверенный фирменный стиль и небольшой, но яркий и емкий сайт, рассказывающий о главных особенностях и преимуществах их услуг.<br><br>Придумал выразительный знак и разработал лаконичный фирменный стиль для него. В дальнешем занялся сайтом, который полностью спроектировал и разработал.
				.col-xs-2
					.project__madein.project__madein--logomotiv
						p Проект выполнен в<br>
							a.link(href="http://logomotivapp.ru/") Дизайн-&nbsp;студии Logomotiv
						p Арт-директор: <br>Иван Большов
						p Менеджер: <br>Анна Шелковникова
						p Разработчик: <br>Илья Мясоедов


	.tmsr__logo
		.container-fluid
			.row
				.col-xs-12
					.tmsr__logo-history
						img.img-responsive(src="img/tmsr__logo-history.png", alt="")
				.col-xs-6.col-xs-offset-4
					p.project__flow За основу знака были взяты образы грузового контейнера и условное обозначение территории одного из терминалов компании. 


	.tmsr__identity
		.container-fluid
			img.img-responsive(src="img/identity.jpg", alt="")

			.tmsr__logo-sq
				img.img-responsive(src="img/tmsr__logo-sq.png", alt="")

			p.tmsr__italic Квадратная версия логотипа


	.tmsr__animation
		.tmsr__kran
		.tmsr__kran
		.tmsr__port
		.tmsr__ship-inner
			.tmsr__ship.wow.slideInRight(data-wow-duration="3s" data-wow-delay="0,2s") 
		.tmsr__water


	.tmsr__laptop
		.tmsr__laptop-heading Просто сайт
		.tmsr__italic
			a.link.link--white(href="tmsrspb.ru") tmsrspb.ru
		.tmsr__laptop-inner
			img.img-responsive(src="img/macbook.png", alt="")


	.tmsr__site
		img.img-responsive(src="img/tmsr__site.png", alt="")

		.container-fluid
			.row
				.col-xs-6.col-xs-offset-4
					p.project__flow Сайт доступно объясняет почему лучше работать с компанией ТМСР.


	:verbatim
	include ./blocks/tmsr.html

	.container-fluid
		.row
			.col-xs-6.col-xs-offset-4
				p.project__flow(style="margin-bottom: 50px" ) Для клиентов компании крайне важно знать точное расположение терминалов. По этой причине нарисовал подробные карты для каждого из терминалов, убрав лишнее и оставив только необходимую информацию, такую как расстояние от ближайшего пропускного сооружения, расположение относительно КАД, схемы заезда и выезда транспорта и саму площадь терминала. 

			
			img.img-responsive.m0a(style="margin-bottom: 50px" src="img/compass.jpg", alt="")






	:verbatim
	include ./blocks/footer.jade

	script(src="js/main.min.js")

	script.
		new WOW().init();
